{% extends '::base.html.twig' %}

{% block title%}
    Venta
    {{ parent() }}
{% endblock%}

{% block body %}
	<div id="output"></div>
	<h2>Venta</h2>
	<form id="searchForm" class="well form-search" method="POST" action="{{path('_buscar')}}">
		<input id="search" type="text" class="input-long ui-autocomplete-input">
		<button class="search-btn btn btn-primary btn-large">
			<i class="icon-search icon-white"></i>
			BUSCAR
		</button>
	</form>
	<table class="items table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Código</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>Total</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody id="elementos">
		</tbody>
	</table>
	<div class="well pull-right extended-summary">
		<h3>Total</h3>
		<table class="table">
			<tbody>
				<tr>
					<td class="detail-view table table-striped table-condensed">
						<table>
							<tbody>
								<tr>
									<th>Sub Total:</th>
									<td id="SUBTOTAL" class="textright">$ 0</td>
								</tr>
								<tr>
									<th>Descuentos:</th>
									<td class="textright">0 %</td>
								</tr>
								<tr>
									<th>Total:</th>
									<td class="textright">$ 0</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="results sidebar-content" style="text-align:right" colspan="2">
						<span id="total" class="btn btn-info btn-large disabled">
							$ 900
						</span>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
{% endblock %}