body {
	padding-top: 60px;
	padding-bottom: 40px;
}
input {
	text-transform: uppercase;
}
.new {
	float: right;
	margin-top: -54px;
}
.del {
	margin-right: 130px;
}
#search {
	width: 400px;
	height: 34px;
	margin-right: 10px;
}
#jmena_ventasbundle_productotype_valor {
	width: 100px;
}
.detail-view th {
	text-align: right;
	width: 160px;
}
#total {
	margin-right: 65px;
	margin-top:15px;
}
.cantidad {
	width: 50px;
	text-align: center;
}
.descuento {
	width: 30px;
	height:15px !important;
	text-align: center;
}
#dscto {
	margin-left: 2px;
}
#vendedores{
	float:right;
	margin-top:18px;
	margin-right:-218px;
}
#atendido{
	float:right;
	margin-right:165px;
	margin-top:-12px;
}
h5 #atendido{
	line-height:0px;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: 0.5em 6.8em 0.5em 0;
}
.stockProducto {
	display:inline;
}

/***************
	COLORES
****************/

#titulo {
	color: white;
}
#venta {
	color: red;
}
#vendedor {
	color: blue;
}
#stock {
	color:yellow;
}
#inventario {
	color: lightgreen;
}
#total {
	margin-top:10px;
	margin-bottom: -50px;
}
#paga {
	width: 90px;
}
#line01{
	margin-bottom:10px;
}
#line02{
	margin-bottom: -5px;
}
#vuelto{
	text-align: center;
}
.container{
	width: 1000px !important;
}
.top{
	margin-top: 20px;
}
.left-search{
	margin-right: 227px;
}
.right-pags{
	margin-right: 230px;
	margin-top:10px;
}
/*
	TO FIX DATATABLES
*/
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: left;
    width: 1000px;
    margin-right:500px;
    margin-bottom: 20px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin-right: -230px;
    margin-top: 10px;
}
 
table {
    margin: 1em 0;
    clear: both;
}