{% extends '::base.html.twig' %}

{% block title%}
    Listado de Marcas
    {{ parent() }}
{% endblock%}

{% block body -%}
    <h2>Listado de Marcas</h2>
    <a class="new btn btn-primary btn-large" href="{{ path('marca_new') }}">NUEVA MARCA</a>
    </br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.descripcion }}</td>
                <td>
                    <a href="{{ path('marca_show', { 'id': entity.id }) }}">
                        <i class="icon-eye-open"></i> IR
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}